{% extends 'common/app.html.twig' %}
{% block header %} Edit category {% endblock %}
{% block content %}

    {% include 'catalog/category/edit-form.html.twig' with {
        category:category,
        parentCategories:parentCategories
    } %}

{% endblock %}
{% block footer %}
    <a href="{{ path('catalog_category_list') }}">Back to list</a>
    {{ parent() }}


{% endblock %}